@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
}
.slick-slide > div {
  margin: 0 25px;
}
.slick-slide > div:nth-child(1) {
  margin-left: 0;
}
.slick-list {
  margin-right: -30px;
}
.slick-dots {
  position: relative;
  top: 90%;
}
@media screen and (max-width: 480px) {
  .slick-dots {
    display: none !important;
  }
}
